body{
    margin: 100px 100px 100px 300px;
    background: linear-gradient(to right,red,blue);
}
.red{
    background: red;
    width: 1000px;
    height: 50px;
}
.white{
    background: white;
    width: 1000px;
    height: 50px;
}

.blue{
    position: absolute;
    background:blue;
    color: white;
    width: 300px;
    height: 250px;
    text-align: left;
    font-size: 50px;
    

}
.blue:hover{
    background-image: url(https://bestanimations.com/media/usa/93200664usa-flag-amercan-waving-gif.gif);
}

