 /* Transition in CSS  */


 .square{
    width: 200px;
    height: 200px;
    background-color: aqua;
    /* margin: 100px auto; */
    transition-duration:3s ;
    transition-property: background-color;
    transition-timing-function: ease-in;
    /* transition-timing-function: ease-out; */
    transition-timing-function: ease-in-out;
    transition-delay: 3s;

    
}

.square:hover{
    background-color: red;
    width: 600px;
    height: 600px;
    transform: rotate(360deg);
    transform: scale(2);
} 



/* Animation in css */


.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: black;
    animation-name: Circle;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    position: relative;
}
@keyframes Circle{
    0%{
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: aqua;
        top: 0px;
        left: 0px;
    }
    50%{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: rgb(0, 255, 21);
        top: 300px;
        left: 500px;
    }
    100%{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: brown;
        top: 600px;
        left: 1000px;

    }
}


