table{
    width: 300px;
    height: 200px;
    border-spacing: 5px;
    border: 10px solid black;
    margin: 450px;
    /*padding: auto*/;
    /* box-shadow: -5px -5px 5px black,5px 5px 5px; */
    text-align: center;
    font-size: 30px;
    border-collapse: collapse;

}
/* body{
    background-size: 100px;
    background: url(/home/yogi/Downloads/goku-super-saiyan-blue_1541974367.jpg)
 
} */
td,tr{
    border: 2px solid black;
    
}
.colour{
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
}
.color{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
}
.colour:hover{
    color: red;
    background-color: aqua;
}
.color:hover{
    color: green;
    background-color: blueviolet;
}