*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0ec;
    font-family: sans-serif;
    outline: none;
}

.Calc{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Calculator{
    background-color: #ecf0ec;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 250px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none; 
    border-radius: 30px;
    color: rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    width: 50px;
    height: 50px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50px;
    margin: 10px;
    font-size: 20px;
}
.finish{
    width: 120px;
    border-radius: 50px;
    background-color: #ecf0ec;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
}
body{
    -webkit-transform: scale(1.5);
}