body{
    margin: 0px;
    padding: 0px;
    background-color: #d5d8dc;
   
   
}

.ash{
    /* background: linear-gradient(to right,#cdb4db,#bde0fe); */
    background: url(https://www.loriswebs.com/images/cloudbg1sml.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    animation: fell 2s ease ;
    
    

}
@keyframes fell {
    0%{
        transform: translatex(-100%);
    }
}
.white{
    background: url(https://i.gifer.com/BXe0.gif);
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: initial;
    padding-left: 0.5%;
    animation: drag 2s ease;
    opacity: 2;
}
@keyframes drag {
    0%{
        transform: translatex(100%);
    }
}
img{
    width: 200px;
    height: 175px;
    border-radius: 50%;
    margin: 5% 5% 5% 25%;
    border: 4px solid black;

}
.name{
font-size: 25px;
font-weight: bold;
color: black;
display: flex;
}
h2{
    background-color: rgba(83, 232, 133, 0.72);
    margin-left: 1%;
    font-size: 30px;
}
.objective{
    font-size: 25px;
    font-weight: bolder;
    color: white;
}
.white li{
    list-style: disc;
}
.flex{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

@media screen and (max-width:1205px){
   .name{
    font-size: 20px;
   } 
   h2{
    font-size: 20px;
   }
   .objective{
    font-size: 20px;
   }
   img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 5% 5% 5% 25%;
    border: 4px solid black;
}
}
@media screen and (max-width:320px){
    .name{
        font-size: 10px;
       }
       h2{
        font-size: 10px;
       } 
       .objective{
        font-size: 10px;
       }
       img{
        width: 90px;
        height: 90px;
        margin: 5% 5% 5% 25%;
    }

}
@media screen and (max-width:400px){
    .name{
        font-size: 10px;
       } 
       h2{
        font-size: 10px;
       } 
       .objective{
        font-size: 10px;
       }
       img{
        width: 80px;
        height: 80px;
        margin: 5% 5% 5% 25%;
    }

}