/* .box{
    height: 300px;
    width: 300px;
    background: linear-gradient(to top left,red,pink);
    background: radial-gradient(white,black)
    background: linear-gradient(orange,white,green);

    
}

.para1{
    font-size: 1.5em;
}

.para2{
    font-size: 2rem;
}
html{
    font-size: 10px;
} */
.box{
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
}