*{
font-style: italic;
}
body{
    background: url(/home/yogi/Downloads/images.jpeg);
    background-size: 100%;
}
.form{
    font-size: 30px;
    width: 800px;
    height: 100%;
    background-color: rgb(220, 125, 125,.3);
    margin: 150px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px red;
}
.form h2{
    text-align: center;
}
.input input{
    display: block;
    margin: 10px 0 10px 0;
    font-size: 20px;
    width: 100%;
    padding: 10px auto;
    box-sizing: border-box;
    border: 1px solid red;
    box-shadow: 2px 2px 15px red;
}
.radio input{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin-top: 50px;
    
}
.button{
    text-align: center;
}
button{
    width: 65%;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid red;
    box-shadow: 2px 2px 15px red; 
    margin-top: 50px;
}
button:hover{
    background-color: rgb(170, 56, 56);
    font-size: 30px;
    
}
select{
    display: inline;
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    padding:  auto;   
    width: 200px;
    height: auto; 
} 
