p{
    background-color: brown;
    color: black;
    border: 5px solid red; 
    }
    *{
    color: black;
    }
    body{
       
     background-color: rgba(126, 26, 26, 0.445);
    }
    p{  
        font-family:monospace;
        font-family: fantasy;
        font-size: 20px;
        font-weight: lighter;
        font-style: italic;
        font-stretch: wider;
        text-transform: capitalize;
        text-decoration: dotted;
        line-height: 30px;
        letter-spacing: 2px;
        word-spacing: 5px;
        text-align: justify;
        font-stretch: 50px;
        text-indent: 100px;

    }
    h1{
        text-align: justify;
        border: 1px solid black;
        border-width: 10px;
        border-right-width: 20px;
        border-top-width: 30px;
        border-radius: 200px 200px 200px 200px;
        border-style: triple;
        border-color: red brown yellow green;
       


    }
    #kkkk{
        background-color: red;
    }
    a{
        text-decoration: none;
 
    }
    a:link{
        color: brown;
    }
    a:visited{
        color: green;
    }
    a:hover{
        color: red;
        font-size: 15px;
    }
    a:focus{
        color: grey;
    }
    a:active{
        color: yellow;
    }
    #divpara{

        width: 200px;
        height: 180px;
        overflow: hidden;
        overflow: scroll;
        margin: 20px auto;
        padding: 20px;
        border: 10px solid black;
    }
    li{
        display:inline;
        margin: 10px;
    }
    #support{
        /*display: none;*/
        visibility: hidden;
    }