.red{
    width: 600px;
    height: 400px;
    background-color: red;
    margin-top: 100px;

}
.yellow{
    background-color: yellow;
    width: 150px;
    height: 150px;
    position: sticky;
    bottom: 0px;
    top: 0px;  
}
/* h2{
    position: relative;
    left: 40%;
} */
.float{
    width: 30%;
    float: left;
}

