html{
    overflow-x: hidden;
}

nav{
    background: linear-gradient(to right,rgb(152, 150, 150),rgb(127, 151, 151));
    
}
.offcanvas-body{
    background: black;
}
b {
    color: white;
    font-size: 1.5rem;
}
.content{
    /* background:url(https://i.gifer.com/6M8G.gif); */
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    


}
.main{
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    
}
.main p{
    font-size: 1.5rem;
    color: white;
    margin-left: 5rem;
}

button{
    width: 15rem;
}
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    margin-top: 5%
    
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
.about{
    background: linear-gradient( to left,#ae65bb,#104d8b);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.para p{
    width: 50%;
    display: flex;
    margin-left: 3rem;
    margin-top: 4rem;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

img{
    width: 15rem !important;
    height: 25rem;
    /* display: flex; */
    object-fit:  cover;
    position: relative;
    right: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 2rem;
}
body{
	margin: 40px;
	padding: 0;
	background-color: #34495e;
}

.skill{
	width: 100%;
	height: 20px;
	background-color: #fff;

}

p{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.skill div{
	width: 0;
	height: 100%;
	color: #333333;
  text-align:right;
  font-size:20px;
  font-weight:bold;
	animation: fill 6s forwards;
}

@keyframes fill{
	100%{
		width: 100%;
	}
}

.html{
	background-color: #e74c3c;
	max-width: 95%;
}

.css{
	background-color: #3498db;
	max-width: 90%;
}

.js{
	background-color: #1abc9c;
	max-width: 70%;
}

.react{
	background-color: #f1c40f;
	max-width: 85%;
}
.boot{
    background-color: #80f10f;
    max-width: 85%;
}
.sql{
    background-color: #e69c26;
    max-width: 80%;

}
.bootstrap{
    background-color: #27f8ff;
    max-width: 75%;
}
.git{
    background-color: #9f14fb;
    max-width: 65%;
}
.skills{
    background: linear-gradient(to left,#91cfd1,#a47b9c);
    min-height: 100vh;
}
.skills p{
    margin-left: 2%;
    font-size: 1.5rem;
}
#contact {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    flex-direction: row;
    margin-left: -4%;
    background: #253e50;
}
#contact li i{
    color: black;
    font-size: 3rem;
    margin-top: 2rem;

}
.fa-envelope:hover{
    
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-gitlab:hover{
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-wordpress:hover{
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-instagram:hover{
   
    transition: 1s ;
    transform: scale(1.2);
    
    
}
h3{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}