*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: auto;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-height: 100vh;
   background:linear-gradient(rgb(227, 189, 189),rgb(157, 203, 193));
    overflow-x: hidden;
}
h2{
    letter-spacing: 3px;
}
header{
    display: flex;
    justify-content: end;
    padding: 15px 20px;
    z-index: 10;
    position: sticky;
    background: linear-gradient(to right ,#653b3b,#e9786c);
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    animation: header 2s ease-in-out;
          
}
@keyframes header {
    0%{
        transform: translateY(-100%);
    }
    
}
nav li{
    display: inline-block;
    margin: 10px 20px;
    font-weight: 800;
    border-radius: 5px;
    letter-spacing: 1px; 
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: 1s;
    
}

h3 span{
    color:#954c08;
    transition: 1s;;
    
}
h3 span:hover{
    transform: scale(1.2);
}
span{
    color:  rgb(212, 66, 66);
}
.span{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

.main{
    width: 100%;
    display: flex;

}

.content{
    width: 50%;
    margin-top: 8%;
    margin-left: 5%;
    color: black;
    overflow: hidden;
    animation: main 2s ease-in;

}
@keyframes main {
    0%{
        transform: translateX(-100%);
    }
}

.content h1{
    font-size: 35px;
    margin-bottom: 1%;
    letter-spacing: 5px;

}
.content h3{
    font-size: 25px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content p{
    font-size: 20px;
    margin-bottom: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-style: italic;
    font-weight: 550;
    color: black;
}
button {
padding: 15px 30px;
background: transparent;
color: black;
font-size: 17px;
border-radius: 15px;
border: 2px solid black;
font-weight: bold;

}
button:hover{
    background: #87bdd8;
}



.image{
    width: 50%;
}
 img{
    margin-top: 10%;
    margin-left: 25%;
    width: 13rem;
    transform: translateX(0px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    animation: img 6s ease-out infinite;
    border-radius: 2rem;
    

} 
@keyframes img {
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-40px);       
    }
    100%{
        transform: translatey(0px);
    }
}


.about{
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px 20px;
    font-size: 25px;
    align-items: center;
    flex-direction: column;
}
.about p{
    font-style: oblique;
    padding-left: 2%;
    animation: para 2s ease-in-out;
    font-weight: bold;
    

    font-family: 'Times New Roman', Times, serif;
    
}
@keyframes para {
    0%{
        transform: translateX(50%);
    }
}

.page{
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    margin-top: 10%;
    text-decoration: underline;
    animation: page 2s ease-in-out;
}
@keyframes page {
    0%{
        transform: translateX(-50%);
    }    
}
.colour{
    color: white;
    font-weight: 600;
    margin-top: 3%;
}

.contact{
    color: black;
    display: inline-block;
    justify-content: space-around;
    width: 100%;
    padding: 15px 20px;
    font-size: 25px;
    margin-left: 5rem;
    

}
.contact h3{
    margin-left: -9%;
}
.con{
    color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    text-decoration: underline;
    margin-top: 5%;
}

.box{
    width: 15rem;
    height: 18rem;
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-top: 3%;
    border-radius: 1rem;
    background: transparent;
    background-color: gray;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.box h4{
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 10%;
    letter-spacing: 1px;
}
.box p{
    font-size: 18px;
    color: white;
    margin-top: 15%;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: initial;
}
.box:hover{
    transform: scale(1.2);
}


#about_me h3{
    margin-top: 5%;

}
.about p{
    margin-top: 3%;

}

i{
    font-size: 3rem;
    margin-left: 100px;
    margin-top: 20px;

}

#contact_me {
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
    list-style: none;
    flex-direction: row;
    margin-left: -4%;
}
#contact_me li i{
    color: black;
}
.fa-envelope:hover{
    
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-gitlab:hover{
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-wordpress:hover{
    transition: 1s ;
    transform: scale(1.2);
    
}
.fa-instagram:hover{
   
    transition: 1s ;
    transform: scale(1.2);
    
    
}
#bars{
    animation: bar 2s ease-in-out;
    color:   #451952;
}
@keyframes bar {
    0%{
        transform: translateX(-100%);
    }
}
#java{
    color: #451952;
    


}
#data{
    color:#451952;
    animation: data 2s ease-in-out;
}
@keyframes data {
    0%{
        transform: translateX(100%);

    }
}


@media screen and (max-width:1205px){



    h3 span{
        color:#954c08;
        transition: 1s;;
        
    }
    h3 span:hover{
        transform: scale(1.2);
    }
    
    #contact_me {
        font-size: 2rem;
        margin-left: -18%;
    }
    .box p{
        font-size: 9px;
    }
    .box h4{
        font-size: 10px;
        margin-top: 5%;
        margin-left: -3%;
    }

    
    #Skills h3{
        font-size: 18px;
    }
    

    i{
        font-size: 1rem;
        margin-left: 65px;
        margin-top: 10px;
    }

    .box{
        width: 9rem;
        height: 8rem; 
        display: inline-block;
        justify-content: space-evenly;
        margin-left: 30%;
    }

    
  

    .about{
        color: black;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 15px 20px;
        font-size: 10px;
        
    }
    .page{
        color: black;
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        text-decoration: underline;
    }
    .contact{
        color: white;
        width: 100%;
        padding: 15px 20px;
        font-size: 10px;
    }
   
    .contact h3{
        margin-left: -25%;
    }
    .con{
        color: black;
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        text-decoration: underline;
        margin-top: 5%; 
    }
    nav li{
        display: inline-block;
        margin: 5px 10px;
        font-weight: 800;
        font-size: 10px;
        
        
    }

    .image{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    img{
        margin-top: 20%;
        margin-left: 2%;
        width: 5rem;  
        border-radius: 1rem;  
        animation: img 6s ease-out infinite;
    } 
    @keyframes img {
        0%{
            transform: translatey(0px);
        }
        50%{
            transform: translatey(-30px);       
        }
        100%{
            transform: translatey(0px);
        }
    }

    .content h3{
        font-size: 15px;
    }

    h2{
        font-size: 10px;
    }

    .content{
        width: 100%;
        text-align: center;
    }

    .content h1{
        font-size: 15px;   
    }

    .content p{
        font-size: 10px;
        margin-top: 3%;
    }
    button {
        padding: 15px 30px;
        background: transparent;
        color: black;
        font-size: 10px;
        border-radius: 15px;
        
        } 

    .overflow{
        overflow-x: hidden;
    }
.sur{
    display: flex;
    justify-content: center;

}

    }
    @media screen and (max-width:400px) {
        .contact  a{
            margin-left: -40%;
            padding: 2rem;
        }
        
    }
    @media screen and (max-width:320px) {
        .contact  a{
            margin-left: -25%;
            padding: 2rem;
        }
        
        
    }
    @media screen and (max-width:1080px){
        .contact a{
            padding: 3.5rem;
            margin-left: -26%;

        }

    }