table{
    width: 300px;
    height: 200px;
    box-shadow: -12px -12px 12px red,12px 12px 12px red;
margin: 100px;
}
table,th,td,tr{
    border: 1px solid black;
    border-spacing: 10px;
    border-collapse: collapse;
}
th{
    background-color: grey;
    text-transform: uppercase;

}
.stratergy{
    text-align: center;
}

tr:nth-child(even){
background-color: blueviolet;
}
tr:nth-child(odd){
    background-color: grey;
    }
td{
    text-transform: capitalize;
    padding: 5px;

}
.back{
    background-color: chartreuse;
}