body{
    background: linear-gradient(to top left,pink 40%,blue);
}
.box{
    background-color: black;
    width: 500px;
    height: 300px;
    color: pink;
    margin: 250px auto;
    border-radius: 25px;
    text-align: center;
}
.p1{
    padding: 20px;
    text-align: left;
    font-size: 20px;

}
.p2{
text-align: left;
    padding: 20px;
    font-size: 20px;
}
.button{
    width: 200px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    position: relative;
    margin-right: 250px;
    margin-top: 50px;    
}
img{
    width: 170px;
    height: 150px;
    position: relative;
    margin-left: 275px;
    top: -40px;
    border-radius: 50%;
}
