body{
    background: linear-gradient(to left,pink 40%,blue );
    cursor: pointer;
}

.box{
    background-color: white;
    width: 400px;
    height: 650px;
    border-radius: 20px;
    color: pink;
    margin: 250px auto;
    text-align: center;
    opacity: .8;
    border-collapse: collapse;

}

.para1{
padding:  40px;
font-size: 30px;
}
button{
    background-color: green;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-top: 90%;
    border: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    position: relative;
    bottom: 300px;
}
form{
    background-color: black;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    top: 50px;
    left: 50px;
}
